html, body {
  margin: 0; padding: 0;
  background: black;
  overflow: hidden;
  height: 100vh;
}
canvas {
  display: block;
  background: black;
}
#startScreen {
  position: absolute;
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

#startBtn {
  font-size: 2em;
  padding: 20px 40px;
  background-color: crimson;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
